<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-item color="dark">
    <img
      src="https://media.istockphoto.com/id/943449226/pt/foto/concept-promotional-flyer-and-poster-for-restaurants-or-pizzerias-template-with-delicious-taste.jpg?s=1024x1024&w=is&k=20&c=gQ8IrK2Chu90U7ApV_gbbSsrCljAeiYzPOpxPQe_KZo="
      alt="img da pizzaria">
  </ion-item>

  <form>
    <ion-item color="dark">
      <ion-label position="stacked">Email:</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="stacked">Senha:</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </form>

  <ion-row>
    <ion-col>
      <ion-button routerLink="/registro" expand="block" color="danger">Registrar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button routerLink="/tabs1" expand="block" color="light"> Entrar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
