<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Bebidas</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




  <ion-row>

    <ion-col>
      <ion-card>
        <img src="https://adrianotavares.files.wordpress.com/2015/06/2-pizzas.jpg" alt="">
        <ion-card-header>
          <ion-card-title>Mamammia</ion-card-title>
          <ion-label>A cada duas pizzas acima de R$ 30,00 reais, o cliente recebe um refrigerante de 2L e uma miniatura
            do ligeirinho.</ion-label>
          <ion-card-subtitle>R$ 60,00</ion-card-subtitle>
        </ion-card-header>

      </ion-card>
    </ion-col>

    <!--Final item 1 -->
    <ion-col size="6">
      <ion-card>
        <img
          src="https://th.bing.com/th/id/OIP.iJmaM2eVJOUbDqnkD3u0FQHaHa?pid=ImgDet&rs=1"
alt="">

          <ion-item>
            <ion-label>R$ 12,00</ion-label>
          </ion-item>

          <ion-item color="">
          <ion-button slot="end">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
          </ion-item>

      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img
          src="https://seeklogo.com/images/C/Coca-Cola_Zero-logo-C6D9FE99D2-seeklogo.com.png"
alt="">

          <ion-item>
            <ion-label>R$ 13,00</ion-label>
          </ion-item>

          <ion-item color="">
          <ion-button slot="end">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
          </ion-item>

      </ion-card>
    </ion-col>


     <ion-col size="6">
      <ion-card>
        <img
          src="https://seeklogo.com/images/S/sprite-logo-0FD1748C65-seeklogo.com.png"
alt="">

          <ion-item>
            <ion-label>R$ 7,25</ion-label>
          </ion-item>

          <ion-item color="">
          <ion-button slot="end">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
          </ion-item>

      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img
          src="https://pngimg.com/uploads/fanta/fanta_PNG55.png"
alt="">

          <ion-item>
            <ion-label>R$ 8,75</ion-label>
          </ion-item>

          <ion-item color="">
          <ion-button slot="end">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
          </ion-item>

      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img
          src="https://cf.shopee.com.br/file/c131967e774f7f66aea05f15bc5c01be"
alt="">

          <ion-item>
            <ion-label>R$ 10,00</ion-label>
          </ion-item>

          <ion-item color="">
          <ion-button slot="end">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
          </ion-item>

      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img
          src="https://th.bing.com/th/id/R.035e0743726f9d7b36a3c15d5494276c?rik=s9%2bDmDaQlrBcwg&riu=http%3a%2f%2fcristalagua.com.br%2fwa_images%2flogo+gradiente_(1).png%3fv%3d1f5e9jb&ehk=F8mxeAnJlO0vxo4wURUm%2f1eYUgfbk8N5TJ6xQR465fI%3d&risl=&pid=ImgRaw&r=0"
alt="">

          <ion-item>
            <ion-label>R$ 3,00</ion-label>
          </ion-item>

          <ion-item color="">
          <ion-button slot="end">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
          </ion-item>

      </ion-card>
    </ion-col>

  </ion-row>




</ion-content>
