<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="primary">
      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Cardápio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
<ion-searchbar color="light" placeholder="Encontre a sua uma pizza!!" showclearbutton="always" clear-icon="trash-bin" [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>
<ion-list>
  <ion-item color="dark" *ngFor="let result of results">
    <ion-label >{{ result }}</ion-label>
  </ion-item>
</ion-list>


  <ion-card *ngFor="let pizza of listaPizza" color="dark">
    <ion-card-content>
        <img alt="Silhouette of mountains"
        [src]="pizza.cartaz" />
    </ion-card-content>


    <ion-card-header>
      <ion-card-title>{{pizza.nomePizza}}</ion-card-title>
      <ion-badge color="liight" *ngFor="let ing of pizza.incredientes">{{ing}}</ion-badge>
    </ion-card-header>

    <ion-item color="dark">
      <ion-button [routerLink]='pizza.routa' slot="end">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>
