<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Carrinho
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-item color="dark">
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://t4.ftcdn.net/jpg/02/96/96/71/360_F_296967135_DAjY06XgRvqzYr3WYzHvmQp4C66QxM00.jpg" />
    </ion-thumbnail>
    <ion-badge slot="end">R$ 22</ion-badge>
  </ion-item>

<ion-row>
  <ion-col>
      <ion-button expand="block" (click)="comprar()">Pedir</ion-button>
  </ion-col>
</ion-row>
</ion-content>
