<ion-header>
  <ion-toolbar>
    <ion-title>pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://img.itdg.com.br/tdg/images/blog/uploads/2022/07/5-itens-necessarios-para-se-tornar-um-pizzaiolo-neste-Dia-da-Pizza.jpg?mode=crop&width={:width=%3E150,%20:height=%3E130}" />
    </ion-thumbnail>
    <ion-label>
      Calabresa
    </ion-label>
    <ion-badge slot="end">
      30 R$
    </ion-badge>
  </ion-item>


   Final codigo Calabresa

 <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://img.itdg.com.br/tdg/images/blog/uploads/2022/07/5-itens-necessarios-para-se-tornar-um-pizzaiolo-neste-Dia-da-Pizza.jpg?mode=crop&width={:width=%3E150,%20:height=%3E130}" />
    </ion-thumbnail>
    <ion-label>
      Potuguesa
    </ion-label>
    <ion-badge slot="end">
      30 R$
    </ion-badge>
  </ion-item>
  <ion-button> Click aqui!!</ion-button>
</ion-list>
</ion-content>



